{% extends "::base.html.twig" %}

{% block title %}KwejkBundle:Rejestracja:Rejestracja{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Rejestracja
                <small>Zarejestruj się</small>
            </h1>
        </div>
    </div>

    <div style="align-content: center; position:relative; left:50%;width: 600px;height: 200px; background-color: lightseagreen ;border-radius: 20px 20px 20px 20px; ">
        <form action="{{ path('rejestracja') }}" method="POST">
{% if Blad is defined %}
    {{ Blad }}
            {% endif  %}
            Login: <br /> <input type="text" name="login" /> <br />
            Hasło: <br /> <input type="password" name="haslo" /> <br />
            E-mail: <br /> <input type="email" name="mail" /> <br /><br />
            <input type="submit" value="Zarejestruj się" />

        </form>
    </div>

{% endblock %}
